// profile section
.profile {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  &__image {
    width: 25%;

    & img {
      width: 100%;
      height: 260px;
      object-fit: cover;
    }
  }

  &__details {
    width: 75%;
    margin-left: 2rem;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #aaa;

    & .name {
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    & .title {
      padding: 0.5rem 0;
      margin: 0.5rem 0;
      border-top: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
      text-transform: uppercase;
      letter-spacing: 6px;
      color: #555;
    }
  }
}

// profile section